body {
    display: flex;
    justify-content: center;
}

#calculator {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: auto;
    width: 500px;
    border-style: solid;
    border-color: #ff6f74;
    border-radius: 5px;
    border-width: 5px;
}

#screen-row {
    display: flex;
    flex-direction: row;
    width: 500px;
}

#input-box {
    height: 100px;
    text-align: right;
    font-family: monospace;
    font-weight: bold;
    font-size: 40px;
    caret-color: transparent;
    width: 0;
    flex-grow: 3.4;
}

#clear-button {
    flex-grow: 1;
}

#button-columns {
    display: flex;
    flex-direction: row;
}

.button-row {
    height:100px;
}

#column-1 {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
}

#column-2 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#operation-row {
    display: flex;
}

.op-button {
    background-color: #ff6f74;
}

.number {
    background-color: #ffb56f;
}

.digit-row {
    display: flex;
}

button {
    text-align: center;
    flex: 1 1;
    background-color: #ff916f;
    border-style: solid;
    border-radius: 5px;
    border-color: brown;
    font-family: monospace;
    font-size: 20pt;
    font-weight: bold;
    color: black;
}

button:hover {
    background-color: mediumslateblue;
}

button:active {
    background-color: darkslateblue;
}

#equals-button {
    flex-grow: 3.1;
}

#decimal-button {
    flex-grow: 1;
}